html{
	background-color: #fff;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body{
	font-size: 16px;
	overflow-x: hidden;
	overflow: hidden;
	line-height: 1.5;
}

nav {
	position: fixed;
	z-index: 1000;
	left: 0;
	right: 0;
	top: 0;
	height: 120px;
	max-width: 100%;
	
	
}
nav img{
	width: 120px;
	position: absolute;
	top: 9px;
	left:5%;	 
}

nav ul {
	float:right;
	padding: 0;
	margin: 0;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
nav ul li {
	list-style: none;
	display: inline-block;
    padding: 5px 50px;
	position: relative;
}


nav ul li a {
	
	padding-bottom: 10px;
	font-size: 17px;
	font-weight: 500;
	
	color: #eee;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;

}
nav ul li a:hover {
	
	text-decoration: none;
  }

nav ul li a.active{
  color: #bbb;
}
nav ul li a.active::before{

	
	background: #fff ;
}

nav ul li a::before{
	position: absolute;
	content:'';
	left:0;
	bottom:0;
	width: 100%;
	height: 2px;
	
	background: #fff ;
	transform: scaleX(0);
	transform-origin: center;
	transition: transform .4s linear;
}
	
nav ul li a:hover::before{
	transform: scaleX(1);
	transform-origin: center;

}	

/*3D MODEL*/

:not(:defined) > * {
	display: none;
  }
  
  body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
  }
  
  model-viewer {
	width: 50%;
	height: 80%;
	position: absolute;
	top: 10%;
	
  }
  
  
  .progress-bar {
	display: block;
	width: 33%;
	height: 10%;
	max-height: 2%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0);
	border-radius: 25px;
	box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .progress-bar.hide {
	visibility: hidden;
	transition: visibility 0.3s;
  }
  
  .update-bar {
	background-color: rgba(255, 255, 255, 0.9);
	width: 0%;
	height: 100%;
	border-radius: 25px;
	float: left;
	transition: width 0.3s;
  }
  
  #ar-button {
	background-image: url(ar_icon.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 12px 50%;
	background-color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	bottom: 16px;
	padding: 0px 16px 0px 40px;
	font-family: Roboto Regular, Helvetica Neue, sans-serif;
	font-size: 14px;
	color:#4285f4;
	height: 36px;
	line-height: 36px;
	border-radius: 18px;
	border: 1px solid #DADCE0;
  }
  
  #ar-button:active {
	background-color: #E8EAED;
  }
  
  #ar-button:focus {
	outline: none;
  }
  
  #ar-button:focus-visible {
	outline: 1px solid #4285f4;
  }
  
  @keyframes circle {
	from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
	to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
  }
  
  @keyframes elongate {
	from { transform: translateX(100px); }
	to   { transform: translateX(-100px); }
  }
  
  model-viewer > #ar-prompt {
	position: absolute;
	left: 50%;
	bottom: 60px;
	animation: elongate 2s infinite ease-in-out alternate;
	display: none;
  }
  
  model-viewer[ar-status="session-started"] > #ar-prompt {
	display: block;
  }
  
  model-viewer > #ar-prompt > img {
	animation: circle 4s linear infinite;
  }


/* HOME*/
.home
{
position: relative;
width: 100%;
height: 100vh;
background: #fff;
display: flex;

background-image: url("/image/front.png");
background-position: center; /* Center the image */
background-repeat: no-repeat; /* Do not repeat the image */
background-size: cover;
}

.home .home-container{
	width: 80%;
	display: block;
	margin: 0 auto;
	padding: 20px 0;
	align-items: center;
	position: relative;
	
}
.home .home-container .www{
	
	position: absolute;
	bottom: -10px;
	left: 50%;
	color: #ccc;
	
}

.icons{
	
	position: absolute;
	left: 10px;
	top: 270px;	
}
.dots{
	
	position: absolute;
	right: 10px;
	bottom:50px ;	
}
.qr{
	
	position: absolute;
	left: 170px;
	top:380px ;	
}


.home-text{
	float: left;
	width: 50%;
	padding-top: 220px;
	
}

.home-image{
	float: right;
	width: 50%;
}
.home-image img{
	
	width: 100%;
	height: 630px;
	padding-left: 30px;
}


.home-text h2
{
	font-size: 30px;
	font-weight: 200;
	line-height: 50px;
	text-transform: uppercase;
	color: #eee;
	
}

.home-text h3
{
	font-size: 50px;
	font-weight: 800;
	line-height: 5px;
	text-transform: uppercase;
	margin: 20px 0;
	color: #eee;
	letter-spacing: 3px;
}



.home-text a
{
	display: inline-block;
	color: #111;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.03);;
	padding: 20px 50px;
	border-radius: 5px;	
	margin: 10px ;
	text-transform: uppercase;
	letter-spacing: 2px;
	
	
	
}

.home-text a:hover
{
	
	color: #ddd;
	text-decoration: none;
}

@media screen and (max-width: 950px){
	.home-container {
		width: 80%;
		display: block;
		margin: auto;
	}
	.home-text{
		float: none;
		width: 100%;
		display: block;
		margin: auto;
	}
	.home-image{
		float: none;
		width: 100%;
		margin-top: 150px;
		
	}
	.home-image img{
		
		width: 100%;
		height: auto;	
		margin: auto;
		display: block;
	}
	.button a{
		font-size: 15px;
	}
	
}